<!DOCTYPE html>
<html>
<head>
<center>
	<font color="white" size="5" style="font-family: Courier New">
		<body bgcolor="black">
			<h1>DATABASE UPDATED</h1><br>
			<h1>YOUR COVID STATUS IS ADDED TO OUR DATABASE.</h1><br>
			<h1>THANKYOU {{ name }} FOR SHARING YOUR VALUABLE INFORMATION AND TIME.</h1><br>
			<title>Add Emp Output</title>
				<form action="http://3.134.115.108:80/" autocomplete="on" method = "GET">

					<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GO BACK</button><br><br>

				</form>
		</body>
	</font>
</center>
</head>
<body>

</body>
</html>